@import url("https://fonts.googleapis.com/css?family=Barlow:500|Montserrat:400,400i&display=swap");

// Typography
$body-font: "Montserrat", sans-serif;
$heading-font: "Barlow", sans-serif;
$line-height: 1.4;
$h2-size: 2.5em;
$h3-size: 1.6em;

// Layout
$max-page-width: 900px;
